html{

    height: 100%;

}

body{

    height: 100%;
    margin:0;
    background-color: blue;

}
#container{
    
    height: 100%;
    background-color: aquamarine;
    display: flex;

}

#esquerda{

    height: 100%;
    width: 50%;
    background-color: rgb(194, 37, 168);
}

#esquerda-topo1{

    height: 15%;
    width: 100%;
    background-color: rgb(194, 37, 168);

}

#esquerda-topo2{

    height: 10%;
    width: 100%;
    background-color: rgb(194, 37, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;


}

#esquerda-meio{

    height: 20%;
    width: 100%;
    background-color: rgb(194, 37, 168)te;
    display: flex;
    justify-content: center;
    align-items: center;

}

#esquerda-baixo1{

    height: 40%;
    width: 100%;
    background-color: rgb(194, 37, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

#esquerda-baixo2{

    height: 10%;
    width: 100%;
    background-color: rgb(194, 37, 168);
    display: flex;
    justify-content: center;
    align-items: center;

}



#direita{

    height: 100%;
    width: 50%;
    background-color: blueviolet;
}

#direita{

    height: 100%;
    width: 50%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#lbltext{

font-size: 30px;

}

#lblsubtext{

    margin: 10px 0 20px 0;
    font-size: 20px;

}

.icons{

    height: 50%;


}

#botao{

    height: 40%;
    width: 150px;
    border-radius: 25px;
    border: none;
    cursor: pointer;

}

#campoinput{

    margin: 0 0 20px 0;
    height: 12%;
    width: 170px;
    border-radius: 15px;
    text-align: center;
    border: none;

}

#labelinput{

    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0 0 0;
    font-size: 12px;

}

#labelinputcima{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 0 100px 0;
    font-size: 25px;

}

#botaodireita{

    width: 20%;
    height: 3%;
    border-radius: 12px;

}